<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Roboto;">
	<table align="center" style="width: 650px;">
		<tr>
			<td style="text-align: center;">
				<img src="https://i.imgur.com/N0LKTRw.png" width="274px">
			</td>
		</tr>
		<tr>
			<td>
				<img src="https://imgur.com/a6D1xVO.png" width="650px">
			</td>
		</tr>
		<tr>
			<td>
				<p style="color: #191D29; font-size: 25px; font-weight: medium; padding: 0 35px;">
					Take the road that leads you to a happy and secure future by joining C. R. England as a trucker today. No CDL required. Hiring and training are guaranteed!</span>
				</p>
			</td>
		</tr>
		<br><br><br>
		<tr>
			<td style="background-color: #EEEEEE; padding-top: 30px;">
				<table>
					<tr>
						<td style="color: #B51F24; font-weight: bold; font-size: 30px; padding-left: 30px;">
							Advantages:
						</td>
					</tr>
					<tr>
						<td style="padding-left: 12px; font-size: 24px; font-weight: medium; color: #3C3C3C;">
							<ul>
								<li>Unlimited Cash Referral Program</li>
								<li>CDL-A Training Tuition Reimbursement </li>
								<li>401k Participation</li>
								<li>Bonus incentives</li>
								<li>Consistent Home Time</li>
								<li>And many more perks</li>
							</ul>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<img src="https://imgur.com/gQRhHfs.png" style="margin-top: 30px; font-size: 50px;">
			</td>
		</tr>
		<tr>
			<td style="text-align: center; font-size: 16px; font-weight: medium; color: #575557;">
				Sunnyvale CA
			</td>
		</tr>
		<tr>
			<td style="text-align: center; font-size: 16px; font-weight: medium; color: #575557;">
				support@jobsdive.com
			</td>
		</tr>
		<tr>
			<td style="text-align: center; color: #4F58F1;">
				{unsubscribe_text}|{webview_text}
			</td>
		</tr>

	</table>
</body>
</html>