<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>screen capture</title>
</head>
<body style="background-color: #E2E7E6;font-family: serif;">
	<table width="500" align="center" style="color: #595858; background-color: #FFFFFF; padding: 0 50px;">
		<tr style="text-align: center;">
			<td style="padding-top: 20px;">
				<img src="https://services.google.com/fh/files/emails/domains_logo_trans_200x30_2x.png" width="175 px">
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<img src="https://services.google.com/fh/files/emails/domains_oob_heroimg_d_w600_2x.png" width="500px">
			</td>
		</tr>
		<tr style="text-align: center;">
			<td>
				<h2 style="color: black;">
					Google Domains is <br> out of beta
				</h2>
				<p style="padding:20px; justify-content: center; margin-top: -20px;">
					To say thanks for being a customer as we hit this milestone, we’d like to offer you 30% off* a new domain registration or transfer-in using the	</p>
				<p style="text-align: center; margin-top: -30px;"><b>code 5F2VU6TCY9N6.</b></p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<a href="#" style="background-color: #41B1F5; height: 30px;height: 45px;border: none;padding: 10px;border-radius: 5px; color: white; font-size: 16px; text-decoration: none;">Get your 30% off</a>
			</td>
		</tr>
		<tr>	
			<td style="padding-top: 20px;">
				<hr>
			</td>
		</tr>
		<tr>
			<td>
				<h3>Your online home</h3>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					We launched Google Domains as a beta product in 2015, aiming to become the easiest place to find, buy, and manage a domain.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Since then, millions of customers have entrusted us with their online home, and we’ve added more tools and features to bring greater ease, reliability, and value to finding and using a domain name.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Today, we’re reinforcing our commitment to our customers by moving Google Domains out of beta and into general availability.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<span style="font-size: 20px; font-weight: bold;">Invite your friends</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					Have a friend who hasn’t tried Google Domains yet? New users can enter code FRIENDSOFDOMAINS at checkout for 25% off** a new domain or transfer-in.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<span style="font-size: 20px; font-weight: bold;">Find out more</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>For more information on the Google Domains transition from beta, <span style="color: blue;">read more on our website.</span></p>
			</td>
		</tr>
		<tr>
			<td>
				<span style="font-size: 20px; font-weight: bold;">See you online,</span>
			</td>
		</tr>
		<tr>
			<td>
				<h3>Google Domains team</h3>
			</td>
		</tr>
		<tr>
			<td style="background-color: #CAF1F1;">
				<p style="padding: 0 70px;">Have a question? Visit our <span style="color: blue;"> Help Center,</span> or explore our <span style="color: blue; padding-left: 50px;">Learning center</span> to dive a little deeper.</p>
			</td>
		</tr>
		<tr style="background-color: #F5F7F7;">
			<td>
				<p style="text-align: center;">Was this email helpful?</p>
			</td>
		</tr>
		<tr style="background-color: #F5F7F7;">
			<tr style="background-color: #F5F7F7;">
				<td>
					<table width="100%" style="padding:20px 170px; color: gray; font-size: 24px;">
						<tr>
							<td>
								&#128512;
							</td>
							<td>
								&#128528;
							</td>
							<td>
								&#128532;
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tr>
		<tr style="background-color: #F5F7F7;">
			<td>
				<table>
					<tr>
						<td style="border-right: 1px;">
							<h1>Google</h1>
						</td>
						<td>
							<span style="margin-left: 10px; font-size: 60px;">|</span>
						</td>
						<td style="padding-left: 20px;">
							Google LLC<br>
							1600 Amphitheatre Parkway<br>
							Mountain View, CA 94043<br>
							www.google.com
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr style="background-color: #F5F7F7;">
			<td>
				*Google Domains Out of Beta Customer Discount Terms & Conditions<br>
			</td>
		</tr>
		<tr style="background-color: #F5F7F7;">
			<td>	
				<p>
					Valid for 30% discount, with a maximum redemption value of $10 USD (or the local currency equivalent), against a new or transfer in domain registration price from eligible top level domains on Google Domains. Discount pricing valid for the initial purchase term for a single domain registration only. Renewal pricing subject to change. Limit one discount per domain name registration per customer. Google reserves the right to cancel, suspend, or modify part of this offer at any time without notice, for any reason in its sole discretion. Promotional code must be automatically or manually applied, is nontransferable and has no cash value. To redeem the offer, you must have or activate a Google Account. Offer ends March 25, 2022 or while supplies last.
				</p>
			</td>
		</tr>
		<tr style="background-color: #F5F7F7;">
			<td>
				**Google Domains Out of Beta Refer-a-Friend Discount Terms & Conditions<br>
			</td>
		</tr>
		<tr style="background-color: #F5F7F7;">
			<td>
				<p>
					Valid for 25% discount, with a maximum redemption value of $10 USD (or the local currency equivalent), against a new or transfer in domain registration price from eligible top level domains on Google Domains. Discount pricing valid for the initial purchase term for a single domain registration only. Renewal pricing subject to change. Limit one discount per domain name registration per customer. Google reserves the right to cancel, suspend or modify part of this offer at any time without notice, for any reason in its sole discretion. Promotional code must be automatically or manually applied, is non-transferable and has no cash value. To redeem the offer, you must have or activate a Google account. Offer ends March 29, 2022 or while supplies last.
				</p>
			</td>
		</tr>
		<tr style="background-color: #F5F7F7;">
			<td>
				<p>
					This email was sent to <span style="color: blue;"> nathpra@gmail.com</span> to update you about important information regarding your Google Domains account. Questions, comments, and support for Google Domains are available <span style="color: blue;">here.</span>
				</p>
			</td>
		</tr>
	</table>
</body>
</html>
